@import "src/styles/main";

.typeOfCall {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  .incoming {
    fill: $ui-accent;
  }
  
  .outcoming  {
    fill: $ui-green;
  }
  
  .imperfect  {
    fill: $ui-red;
  }
}

