@import "src/styles/main";

.callEvaluationStatusText {
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px; 
  border: 1px solid;
  border-radius: 4px;
}

.excellent  {
  width: 70px;
}

.good {
  width: 66px;
  color: $ui-text;
  background: $ui-secondary;
  border-color: $ui-icon
}

.bad  {
  width: 56px;
  color: $ui-red;
  background: $ui-light-red;
  border-color: $ui-red;
}