@use "./styles/main.scss";

.app {
  display: grid;
  grid-template-columns: 240px 1fr;
  background: blue;
  height: 2730px;
  .sidebar  {
    background: #091336;
    width: 240px;
    height: 100%;
  }

  .content  {
    display: grid;
    grid-template-rows: 64px 1fr;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
