@import "src/styles/main";
.SidebarRoute {
  position: relative;
  display: flex;
  height: 52px;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 0px 14px;
  color: rgba($color: #FFFFFF, $alpha: 0.6);
  text-decoration: none;
  .img  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    fill: rgba($color: #FFFFFF, $alpha: 0.6);
  }
}

.activeButton {
  color: white;
  background: rgba(#D8E4FB, 0.32);
  &::before {
    display: block;
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: $ui-accent;
  }
  &::after  {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 4px);
    right: 12px;
    background: #FFD500;
    box-shadow: 0px 3px 8px rgba(237, 218, 1, 0.5);
  }
  .img {
    fill: white;
  }
}